<!-- <div class="container">

  https://youtu.be/KWVJTRWILjU?si=HiaJkk4e6XN9UJXc&t=534

  maybe put on the side par and make static 

  <div class="slides slide1">

    <div class="basic-info">
      <h1>Hi, I'm Jarel</h1>
      <h1>Front-End Angular Developer </h1>
      <p>TEST</p>
    </div>
  </div>

  <div class="slides slide2">
    <img src="../assets/profilepic.jpeg" alt="" id="profilepic">
    <h2>Lorem ip. Ex ad excepturi sequi omnis, .</h2>
  </div>

  <div class="slides slide3">
    <img src="../assets/profilepic.jpeg" alt="" id="profilepic">
    <h2>ore officia optio magnam. Fugiat dignissimos earum aperiam? Nisi aut nihil cupiditate consectetur, accusantium aliquid nostrum laboriosam.</h2>
  </div>




  <img src="../assets/profilepic.jpeg" alt="" id="profilepic">
  <div class="headerInfo"> 
    <p><a href="mailto:jarel.sanderss@gmail.com"></a>gmail icon</p>
    <p><a href="https://www.github.com/JarelSanders">github icon</a></p>

    <p><a href="https://www.linkedin.com/in/jarelsandersjs">linkedin icon</a></p>
  </div>

  <h1>ANIMATION ACON THAT MOVES WITH SCROLLING OR MOUSE CLICK</h1>
  <h1>use HTML tags and headers. example gt projects ln </h1>
  <h1>use z index</h1>
  <h1>3d cube scrolling affect</h1>
  <h1>look st negative space </h1>
  <h1>webpage animation </h1>
  <h1>about me section </h1>


  <mat-spinner>ger</mat-spinner>
  <div id="left-info" class="basic-info">
    <h1>Hi, I'm Jarel</h1>
    <h1>Front-End Angular Developer </h1>
    <p>TEST</p>
  </div>



  <div id="right-info" class="basic-info">
    <h1>Projects</h1>
    <ol>
      <li><a href="http://"> &lt;Group Distributor&gt;</a></li>
      <li><a href="">&lt;Nexflix Clone&gt;</a></li>
      <li><a href="">&lt;Currency Converter&gt;</a></li>
      <li><a href="">&lt;Product Store&gt;</a></li>
    </ol>
  </div>



  <div class="sections">
    <h1 class="header">&lt;Projects&gt;</h1>
    <div class="section-detail">
      <h1>Group Distributor</h1>
      <h3>About project</h3>
      <img src="../../../../in progress/ProductStore/src/assets/games/used/Deadpool.jpeg" alt="">
    </div>
      <div class="section-detail">
      <h1>Nexflix Clone</h1>
      <h3>About project</h3>
      <img src="../../../../in progress/ProductStore/src/assets/games/used/Deadpool.jpeg" alt="">
    </div>
      <div class="section-detail">
      <h1>Currency Converter</h1>
      <h3>About project</h3>
      <img src="../../../../in progress/ProductStore/src/assets/games/used/Deadpool.jpeg" alt="">
    </div>
      <div class="section-detail">
      <h1>Product Store</h1>
      <h3>About project</h3>
      <img src="../../../../in progress/ProductStore/src/assets/games/used/Deadpool.jpeg" alt="">
    </div>

  </div>

  <footer>test</footer>

</div>
 -->

 <!-- * -->
<section class="sec-1 show-animate">
 <!-- https://www.youtube.com/watch?v=VjiWpGR82t0&t=187s -->
  <!-- <h1 class="animate">Hi, I'm Jarel</h1> -->
  <div class="intro-1">
    <div class="div-1">
      <h1 class="animate">Hi, I'm Jarel</h1>
      <p class="animate">Front-End Angular Developer</p>
      +<p class="animate">Aspiring front-end developer showcasing a portfolio of four personal projects, demonstrating a commitment to creating visually appealing and functional web solutions.</p>
    </div>
    <div class="div-2"></div>

  </div>
  <p class="animate">Front-End Angular Developer</p>
  <p class="animate" id="intro">Aspiring front-end developer showcasing a portfolio of four personal projects, demonstrating a commitment to creating visually appealing and functional web solutions.</p>

  <br>
  <div id="contact-info" class="animate">
     <img cla src="../assets/LI-In-Bug.png" alt="">
     <img src="../assets/github-mark-white.png" alt="">
  </div>
 <p id="techIcons">Tech stack | 
  <img src="../assets/icons8-html5-48.png" alt=""> 
  <img src="../assets/icons8-css3-48.png" alt="">
  <img src="../assets/icons8-typescript-48.png" alt="">
  <img src="../assets/icons8-angular-48.png" alt="">
  <img src="../assets/icons8-bootstrap-48.png" alt="">
</p>
</section>

<section class="sec-2">
  <h1 class="animate">About Me</h1>
  <p class="animate">Aspiring front-end developer showcasing a portfolio of four personal projects, demonstrating a commitment to creating visually appealing and functional web solutions.</p>
</section>

<section class="sec-3">
  <h1 class="animate">Projects</h1>
  <h1>is a website needed for each project</h1>
  <div class="project-1 animate">
    <!-- <h1 class="prjoectHead">Group Distributor</h1> -->
    <!-- <p class="animate"></p> -->
    <!-- <a  href="https://github.com/JarelSanders/groupDistribution"><img src="../assets/GroupDistributor.png" alt=""></a> -->

    <div class="wrapper">
      <a href="">
        <div class="image">
          <img src="../assets/GroupDistributor.png" alt="">
          <div class="content">
            <h1>Group Distributor</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam cupiditate</p>
          </div>
        </div>
      </a>  
    </div>
  </div>
  
</section>


<section class="sec-4">
  <h1>pics</h1>
  <div class="images animate">
    <img class="animate" src="../assets/Mario Kart" alt="">

    <img class="animate" src="../assets/Mario Kart 8 Deluxe" alt="">

    <img class="animate" src="../assets/MARVEL VS. CAPCOM 2 New Age of Heroe Sony Playstation 2 PS2 Game USED.jpg" alt="">

    <img class="animate" src="../assets/profilepic.jpeg" alt="">
  </div>
</section>

<section class="sec-5">
  <h1 class="animate">Say Hi!</h1>
  <p class="animate">
    <a href="">Github</a>
    <br>
    <a href="">LinkedIn</a>
  </p>

</section>