<!-- navbar  -->
<header>
    <div class="inner">
        <nav>
            <a href="#" class="logo">Jarel</a>
            <input type="checkbox" id="nav" /><label for="nav"></label>
            <ul>
                <li><a href="#">Home</a></li>
                <li>
                    <a href="#projects">Projects</a>
                    <ul>
                        <li><a href="#groupDistribution">Group Distributor</a></li>
                        <li><a href="#netflixClone">Netflix Clone</a></li>
                        <li><a href="#currencyConversion">Currency Conversion</a></li>
                        <li><a href="#productStore">Product Store</a></li>
                    </ul>
                </li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>


<!-- <button onclick="topFunction()" id="myBtn" title="Go to top">TOP BUTTONNNNNNNNNNNNNNNNNN</button> -->
<!-- Intro -->
<section class="section show-animate">
 <!-- https://www.youtube.com/watch?v=VjiWpGR82t0&t=187s -->
 <!-- https://www.youtube.com/watch?v=wrb7Gge9yoE&t=305s&ab_channel=Codecademy -->
  <!-- <h1 class="animate">Hi, I'm Jarel</h1> -->
  <div class="container animate">
    <div class="div-1">
      <h1 class="animate" id="introName">Hi, I'm Jarel</h1>
      <p class="animate">Front-End Angular Developer</p>
      +<p class="animate">Aspiring front-end developer showcasing a portfolio of four personal projects, demonstrating a commitment to creating visually appealing and functional web solutions.</p>
    </div>
    <div class="div-2">
      <h1>animate</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non officia corporis ipsa, autem rem et sit. Sequi ipsa deleniti laudantium dolorum quasi suscipit, soluta cumque optio et, debitis quia voluptate.</p>
    </div>

  </div>
  <!-- <p class="animate">Front-End Angular Developer</p> -->
  <!-- <p class="animate" id="intro">Aspiring front-end developer showcasing a portfolio of four personal projects, demonstrating a commitment to creating visually appealing and functional web solutions.</p> -->

  <br>

  <div id="contact-info" class="animate">
    <a href="https://www.linkedin.com/in/jarelsandersjs" target="_blank"><img src="../assets/LI-In-Bug.png" alt="" id="linkedIn"></a>
    <a href="https://www.github.com/JarelSanders" target="_blank"><img src="../assets/github-mark-white.png" alt="" id="gHub"></a>
     <!-- <img cla src="../assets/LI-In-Bug.png" alt=""> -->
     <!-- <img src="../assets/github-mark-white.png" alt=""> -->
  </div>


 <p id="techIcons" class="animate">Tech stack | 
  <img src="../assets/icons8-html5-48.png" alt=""> 
  <img src="../assets/icons8-css3-48.png" alt="">
  <img src="../assets/icons8-typescript-48.png" alt="">
  <img src="../assets/icons8-angular-48.png" alt="">
  <img src="../assets/icons8-bootstrap-48.png" alt="">
</p>
</section>

<!-- About me  -->
<section class="sec-2">
  <div class="container  animate ">
    <div class="div-1">
      <img id="aboutmeImg" src="../assets/image1.jpg" alt="">
    </div>
    <div class="div-1">
      <h1 class="animate">About Me</h1>
      <p class="animate">A front-end Developer based in Marietta, Georgia.</p>
      <br>
      <p> As a passionate beginner in the field of front-end development, I bring a unique perspective shaped by my extensive experience in the IT industry. With a background spanning several years, I've cultivated a deep understanding of technology and a keen eye for detail.
        <br><br>
        My journey into front-end development is driven by a desire to combine creativity with technical skills. I am dedicated to crafting visually appealing and user-friendly web solutions. Through continuous learning and hands-on projects, I strive to stay abreast of the latest trends and best practices in the ever-evolving world of web development.
      </p>      
    </div>
  </div>

</section>


<!-- Project1 -->
<section class="section show-animate">
  <div class="animate container ">
    <div class="description">
      <h1 class="animate" id="groupDistributions">Group Distribution</h1>
      <h1 class="animate" >
In my portfolio, I highlight a dynamic group distribution website I engineered with HTML, CSS, Bootstrap, and TypeScript. 
Through innovative design and robust functionality, users can effortlessly allocate team members into specified groups by simply inputting the desired number of groups and team members, 
streamlining the process with seamless randomization algorithms.




</h1>
    </div>
    <div class="div-22">
      <a href="">
        <div class="image">
          <img id="group" src="../assets/GroupDistributor.png" alt="Group Distributor">
        </div>
      </a>  
    </div>
  </div>  
</section>

<!-- Project2 -->
<section class="sec-2 show-animate">
  <div class="animate container ">
      <div class="top-left">
        <a href="">
          <div class="image">
            <img id="group" src="../assets/Netflix Clone.png" alt="Netflix Clone">
          </div>
        </a>  
      </div>
      <div class="bottom-right">
        <h1 class="animate" id="netflixClone">Netflix Clone</h1>
        <h1 class="animate" >
In my portfolio, I feature a captivating Netflix landing page that I meticulously designed and developed using HTML, CSS, and Bootstrap. 
Through a combination of sleek design elements and responsive layout, I've recreated the immersive Netflix experience, offering users a visually engaging preview of what the platform has to offer.</h1>
    </div>
  </div>
</section>

<!-- Project 3 -->
<section class="section show-animate">
  <div class="animate container ">
    <div class="description">
      <h1 class="animate" id="currencyConversion">Currency Conversion</h1>
      <h1 class="animate" >Showcasing a dynamic Currency Conversion website crafted with Angular, CSS, TypeScript, and HTML. Through meticulous design and coding, 
        I've seamlessly integrated real-time currency exchange functionality, offering users a smooth and intuitive experience for converting currencies effortlessly.</h1>
    </div>
    <div class="div-22">
      <a href="">
        <div class="image">
          <img id="group" src="../assets/Currency Conversion.png" alt="Currency Conversion">
        </div>
      </a>  
    </div>
  </div>  
</section>

<!-- Project 4 -->
<section class="sec-2 show-animate">
  <div class="animate container ">
    <div class="description">
      <h1 class="animate" id="productStore">Product Store</h1>
      <h1 class="animate" >In my portfolio, I feature an ongoing project resembling a simplified version of an e-commerce platform akin to Amazon, 
        where I leverage my expertise in HTML, CSS, TypeScript, and Node.js for both front and backend development. With meticulous attention to detail and robust backend architecture, 
        I'm crafting a seamless user experience, from intuitive frontend design to efficient backend functionalities, promising a glimpse into my comprehensive web development skills.</h1>
    </div>
    <div class="div-22">
      <a href="">
        <div class="image">
          <img id="group" src="../assets/Product Store.png" alt="GroupDistributor">
        </div>
      </a>  
    </div>
  </div>  
</section>

<section class="section" id="contact">
  <h1 class="animate">Say Hi!</h1>
  <div class="description animate form-control" >  
    <form (#ngSubmit)="submitForm()" #sendEmail="ngForm">
      <label class="animate" id="labelEmail" for="email">
        Email:
      <input class="animate form-control" type="email" required placeholder="john.smith@example.com" name="email" id="contact_email" [(ngModel)]="email">
      <span *ngIf="email === ''" id="emailError">Correct email needed</span>
      </label>
      <label class="animate" id="labelName" for="name">
        Name:
        <input class="animate form-control" type="name" required placeholder="John Smith" name="name" id="contact_name" [(ngModel)]="name">
        <span *ngIf="name === ''" id="nameError">Name needed</span>
      </label>
      <label class="animate" id="labelMessage" for="message">
        Message:
        <textarea class="animate form-control" id="contactMessage" required placeholder="Type your message" name="message" cols="30" rows="10" [(ngModel)]="message"></textarea>
        <span *ngIf="name === ''" id="messageError">Message needed</span>
      </label>
       
      <button type="submit" (click)="submitForm()">Send</button>
    </form>
  </div>
</section>

<!-- main.ts:11 ERROR Error: If ngModel is used within a form tag, either the name attribute must be set or the form
    control must be defined as 'standalone' in ngModelOptions.

    Example 1: <input [(ngModel)]="person.firstName" name="first">
    Example 2: <input [(ngModel)]="person.firstName" [ngModelOptions]="{standalone: true}">
    at missingNameException (forms.mjs:4260:12)
    at NgModel._checkName (forms.mjs:4572:19)
    at NgModel._checkForErrors (forms.mjs:4555:14)
    at NgModel.ngOnChanges (forms.mjs:4494:14)
    at NgModel.rememberChangeHistoryAndInvokeOnChangesHook (core.mjs:1491:1)
    at callHook (core.mjs:2528:1)
    at callHooks (core.mjs:2487:1)
    at executeInitAndCheckHooks (core.mjs:2438:1)
    at refreshView (core.mjs:9474:1)
    at refreshComponent (core.mjs:10630:1) -->

<!-- <button onclick="topFunction()" id="myBtn" title="Go to top">TOP BUTTONNNNNNNNNNNNNNNNNN</button> -->