html{
    scroll-behavior: smooth;
}

header {
    /* background: #181818; */
    background:rgb(29, 28, 28);
    /* height: 200px; */
    /* height: -300px; */
    /* padding-top: 40px; */
        /* border: 5px solid orange;
    position: fixed;
    top: 0;  */
}
.inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 20px;
    position: relative;
}
.logo {
    text-decoration: none;
    color: #777;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
}
h1 {
    text-align: center;
    width: 100%;
    margin-top: 120px;
    color: #eee;
    font-weight: 800;
    font-size: 40px;
}
nav > ul {
    float: right;
}
nav > ul > li {
    text-align: center;
    line-height: 40px;
    margin-left: 70px;
}
nav > ul li ul li {
    width: 100%;
    text-align: left;
}
nav ul li:hover {
    cursor: pointer;
    position: relative;
}
nav ul li:hover > ul {
    display: block;
}
nav ul li:hover > a {
    color: #777;
}
nav > ul > li > a {
    cursor: pointer;
    display: block;
    outline: none;
    width: 100%;
    text-decoration: none;
}
nav > ul > li {
    float: left;
}
nav a {
    color: white;
}
nav > ul li ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 2000;
}
nav > ul li ul li > a {
    text-decoration: none;
}
[type="checkbox"],
label {
    display: none;
}
@media screen and (max-width: 768px) {
    nav ul {
        display: none;
    }
    label {
        display: block;
        background: #222;
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 0px;
    }
    label:after {
        content: '';
        display: block;
        width: 30px;
        height: 5px;
        background: #777;
        margin: 7px 5px;
        box-shadow: 0px 10px 0px #777, 0px 20px 0px #777
    }
    [type="checkbox"]:checked ~ ul {
        display: block;
        z-index: 9999;
        position: absolute;
        right: 20px;
        left: 20px;
    }
    nav a {
        color: #777;
    }
    nav ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: left;
        background: #222;
        text-indent: 20px;
    }
    nav > ul > li {
        margin-left: 0px;
    }
    nav > ul li ul li {
        display: block;
        float: none;
    }
    nav > ul li ul {
        display: block;
        position: relative;
        width: 100%;
        z-index: 9999;
        float: none;
    }
    h1 {
        font-size: 26px;
    }
}

h1{
    font-weight: 600;
    /* font-size: 90px; */
    /* color: #fff; */
        color: #0ef;
    padding-bottom: 41px;
}

p{
    font-size: 25px;
    color: #0ef;
    font-weight: 600;
    text-align: left;
    line-height: 1em;   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topnav{
    font-size: 35px;
    color: #0ef;
    font-weight: 600;
    /* background: black; */
    height: 10vh;
     background:rgba(255,255,255,1)
}

.active{
    text-decoration: none;
}


.container{
    /* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
    padding: 20px 80px;
}

.div-1{
    border: 5px solid white;
        width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}


#introName{
    border: 5px solid red;
    font-size: 45px;
    color: rgb(232, 240, 241);
    font-weight: 600;
    /* align-items: ; */
}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #1f242d;
    overflow-x:  hidden;

    /* border: 5px solid green; */
}



#intro{
    width: 150vh;
}

#contact-info{
    display: flex;
    margin-left: -1000pt;
    float: left;
}

#contact-info  a img{
    margin-right: 10px;
    height: 50px;
    width: 45px;
    /* border: 5px solid green; */
}

#contact-info  a #linkedIn:hover{
    border: 3px solid #0ef;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding-right: -400px;
}

#contact-info  a #gHub:hover{
    border: 3px solid #0ef;
    border-radius: 45px;
}


#techIcons{
    display: flex;
    width: auto;
}

#techIcons img{
    width:48px;
    height:48px;
    margin-left: 0;
}

section .animate {
    transition: 1s;
    transform: translateX(-200%); 

}

.section{
    border: 5px solid green;
}

.section .animate{
    transform: translateX(-300%);
}

.section.show-animate .animate{
    transform: translateX(0);
}



.sec-2 .animate{
    transform: translateX(200%);
}

.sec-2.show-animate .animate{
    transform: translateX(0);
}


#aboutmeImg{
    /* align-items: flex-end; */
    padding-left: 20%;
    text-align: right;
    height: 50vh;
}


.description{
    border: 5px solid white;
        width: 50%; 
    float: left;
    padding: 20px;
    /* border: 2px solid red; */
}

.div-22{
    /* border: 5px solid yellow; */
    /* width: 50%; */
    float: right;
}

#group{
    height: 50vh;
    width: 58vw ;
    border: 5px sold green ;
}


div img {
    border-radius: 10px;
    height: 20vh;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 5px solid red; */
}
.bottom-right{
    border: 5px solid red;
    width: 50%;
    margin-left: 30%;
}

.top-left{
    border: 5px solid yellow;
    width: 50%;
}
