
/* 
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
} */


html{
    scroll-behavior: smooth;
}

header {
    /* background: #181818; */
    background:rgb(29, 28, 28);
    /* height: 200px; */
    /* height: -300px; */
    /* padding-top: 40px; */
        /* border: 5px solid orange;
    position: fixed;
    top: 0;  */
}
.inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 20px;
    position: relative;
}
.logo {
    text-decoration: none;
    color: #777;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
}
h1 {
    text-align: center;
    width: 100%;
    margin-top: 120px;
    color: #eee;
    font-weight: 800;
    font-size: 40px;
}
nav > ul {
    float: right;
}
nav > ul > li {
    text-align: center;
    line-height: 40px;
    margin-left: 70px;
}
nav > ul li ul li {
    width: 100%;
    text-align: left;
}
nav ul li:hover {
    cursor: pointer;
    position: relative;
}
nav ul li:hover > ul {
    display: block;
}
nav ul li:hover > a {
    color: #777;
}
nav > ul > li > a {
    cursor: pointer;
    display: block;
    outline: none;
    width: 100%;
    text-decoration: none;
}
nav > ul > li {
    float: left;
}
nav a {
    color: white;
}
nav > ul li ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 2000;
}
nav > ul li ul li > a {
    text-decoration: none;
}
[type="checkbox"],
label {
    display: none;
}
@media screen and (max-width: 768px) {
    nav ul {
        display: none;
    }
    label {
        display: block;
        background: #222;
        width: 40px;
        height: 40px;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 0px;
    }
    label:after {
        content: '';
        display: block;
        width: 30px;
        height: 5px;
        background: #777;
        margin: 7px 5px;
        box-shadow: 0px 10px 0px #777, 0px 20px 0px #777
    }
    [type="checkbox"]:checked ~ ul {
        display: block;
        z-index: 9999;
        position: absolute;
        right: 20px;
        left: 20px;
    }
    nav a {
        color: #777;
    }
    nav ul li {
        display: block;
        float: none;
        width: 100%;
        text-align: left;
        background: #222;
        text-indent: 20px;
    }
    nav > ul > li {
        margin-left: 0px;
    }
    nav > ul li ul li {
        display: block;
        float: none;
    }
    nav > ul li ul {
        display: block;
        position: relative;
        width: 100%;
        z-index: 9999;
        float: none;
    }
    h1 {
        font-size: 26px;
    }
}

h1{
    font-weight: 600;
    /* font-size: 90px; */
    color: #fff;
    padding-bottom: 41px;
}

p{
    font-size: 35px;
    color: #0ef;
    font-weight: 600;
    /* border: 5px solid red; */
    /* width: 38vw;
    height: 25vh */
    /* max-width: fit-content; */
    /* height: ; */
    line-height: 1em;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topnav{
    /* border: 5px solid orange; */
    /* position: fixed; Set the navbar to fixed position */
    /* top: 0; Position the navbar at the top of the page */
    width: 100%; /* Full width */
    font-size: 35px;
    color: #0ef;
    font-weight: 600;
    /* background: black; */
    height: 10vh;
     background:rgba(255,255,255,1)
}

.active{
    /* color: red; */
    /* font: 200px; */
    /* font-size: 100px; */
    text-decoration: none;
}


.introContainer{
    /* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
    padding: 20px;
}

.div-1{
    border: 5px solid white;
        width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}

.div-2{
    /* border: 5px solid yellow; */
}

#introName{
    border: 5px solid red;
        font-size: 45px;
    color: rgb(232, 240, 241);
    font-weight: 600;
    /* align-items: ; */
}

section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #1f242d;
    overflow-x:  hidden;

    /* border: 5px solid green; */
}

#intro{
    width: 150vh;
}

#contact-info{
    display: flex;
    /* border: #0ef solid 5px; */
    /* justify-content: left; */
    /* align-items: flex-start; */
    margin-left: -1000pt;
    float: left;
}

#contact-info  a img{
    margin-right: 10px;
    height: 50px;
    width: 45px;
    /* border: 5px solid green; */
}

#contact-info  a #linkedIn:hover{
    border: 3px solid #0ef;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding-right: -400px;
}

#contact-info  a #gHub:hover{
    /* background-color: white; */
    border: 3px solid #0ef;
    border-radius: 45px;
}


#contact-info img{
    /* margin-right: 10px;
    height: 30px; */
    /* border: 5px solid red; */
}


#techIcons{
    display: flex;
    width: auto;
}

#techIcons img{

    width:48px;
    height:48px;

    /* border: #0f0 solid 5px; */
    margin-left: 0;
}














section .animate {
    transition: 1s;
    transform: translateX(-200%); 

}

.sec-1{
    border: 5px solid green;
}

.sec-1 .animate{
    transform: translateX(-300%);
}

.sec-1.show-animate .animate{
    transform: translateX(0);
}

.sec-2 .animate{
    transform: translateX(200%);
}

.sec-2.show-animate .animate{
    transform: translateX(0);
}
.sec-3 .animate{
    transform: translateX(-300%);
}

.sec-3.show-animate .animate{
    transform: translateX(0);
}

.sec-4 .animate{
    transform: translateX(200%);
}

.sec-4.show-animate .animate{
    transform: translateX(0);
}

div img {
    border-radius: 10px;
    height: 20vh;
}
/* .prjoectHead{
    margin: 0;
    padding: 0;
} */

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    width: 500px;
    position: relative;
}

img{ 
    width: 100%;
    display: block;
    margin: auto;
}


.content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    
    
}

.content:hover{
    opacity: 1;
}


.content h1{
    margin-bottom: 15px;
}


.content > *{
    transform: translateY(20px);
    transition: transform 0.6s;
}


section > h1{
    /* font-size: 200em; */
    font-size: 3em !important;
    color: red;
}


.sec-2 p{
    color: #0f0;
}

.sec-3 p{
    color: #e0f;
}

.sec-4 .images img{
    /* color: #ff0; */
    /* max-width: 1400px; */
    color: rgb(0, 255, 89);
}

.sec-5 a{
    color: #ff0;
}